<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>ToDo</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
    <p>本日の日付: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
</div>
<div class="main-contents">
    <!--  新規タスク -->
    <form th:action="@{/add}" method="get">
        <button type="submit">新規タスク</button>
    </form>

    <!-- 検索フォーム -->
    <form th:action="@{/search}" method="get">
        <label>期限 <input type="text" name="startDate" placeholder="YYYY/MM/DD"/></label>
        ～
        <label><input type="text" name="endDate" placeholder="YYYY/MM/DD" pattern="\d{4}/\d{2}/\d{2}"/></label>
        <!-- プルダウン -->
        <label>ステータス　　
            <select name="status">
                <option value="">--</option>
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>
        </label>
        <label>タスク内容　<input type="text" name="content"/></label>

        <button type="submit">絞込</button>
    </form>
    <table>
        <tr>
            <th>タスク内容　　　　</th>
            <th>ステータス　　　　</th>
            <th>タスク期限　　　　</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.content}">内容</td>
            <td th:text="${task.status}">ステータス</td>
            <td th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}">期限</td>
        </tr>

            <!-- Sample Data -->
        <tr th:each="taskList : ${taskList}" th:object="${taskList}">
        <th scope="row" th:text="*{taskId}">1</th>
        <td th:text="*{title}">Title</td>
        <td th:text="*{description}">description</td>
        <td th:text="${#temporals.format(taskList.deadline, 'yyyy/MM/dd')}">Formatted Deadline</td>
        <td th:text="*{status == 1 ? '未着手' : status == 2 ? '完了' :　status == 3 ? 'ステイ中' : '実行中'}">Status</td>
        <td><a class="btn btn-primary" href="/task/edit/1">edit</a></td>
        <td><a class="btn btn-primary" href="/task/delete/1">delete</a></td>
        </tr>

            <!-- タスク期限の色分け -->
            <!--            <td th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}"-->
            <!--                th:class="${task.limitDate.isBefore(today.plusDays(1)) ? 'red' : 'yellow'}">-->
            <!--            </td>-->

    </table>

</div>

</body>
</html>