<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>ToDo</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
    <div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
        <strong th:text="${errorMessageForm}"></strong>
    </div>
    <p>本日の日付: <span th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd')}"></span></p>
</div>
<div class="main-contents">
    <!--  新規タスク -->
    <form th:action="@{/add}" method="get">
        <button type="submit">新規タスク</button>
    </form>

    <!-- 検索フォーム -->
    <form th:action="@{/}" method="get">
        <label>期限 <input type="date" name="startDate" /></label>
        ～
        <label><input type="date" name="endDate" /></label>
        <!-- プルダウン -->
        <label>ステータス　　
            <select name="status">
                <option value=""></option>
                <option th:each="status : ${statuses}"
                        th:value="${status.ordinal()}"
                        th:text="${status}">
                </option>
            </select>
        </label>
        <label>タスク内容　<input type="text" name="content"/></label>

        <button type="submit">絞込</button>
    </form>
    <table>
        <tr>
            <th>タスク内容　　　　　</th>
            <th>ステータス　　　　　</th>
            <th>タスク期限　　　　　</th>
        </tr>
        <tr th:each="task : ${tasks}" th:object="${task}">
            <td th:text="*{content}">内容</td>

            <td>
                <form th:action="@{/task/updateStatus}" method="post">
                    <input type="hidden" name="id" th:value="*{id}" />
                    <select name="status">
                        <option th:each="status : ${statuses}"
                                th:value="${status.ordinal()}"
                                th:text="${status}"
                                th:selected="${status.ordinal() == task.status}">
                        </option>
                    </select>
<!--                   onclick="..."←このHTML要素がクリックされたときに JavaScriptを実行して」っていう合図
                       returnでtrueか、falseの制御をしている。                                          -->
                    <button type="submit" onclick="return confirm('変更しますか？');">変更</button>
                </form>
            </td>
            <!-- "-->
           <td
                   th:style="${task.limitLocalDate.isAfter(today) ? 'background-color:yellow' : 'background-color:red'}"
                   th:text="${#dates.format(task.limitDate, 'yyyy/MM/dd')}">
            </td>
            <td>
                <form th:action="@{/edit}" >
                    <input th:type="hidden" name="id" th:value="${task.id}">
                    <button type="submit" >編集</button>
                </form>
            </td>
            <td>
                <form th:action="@{/task/delete/{id}(id=*{id})}" >
                    <button type="submit" onclick="return confirm('消去しますか？');">削除</button>
                </form>
            </td>
        </tr>

    </table>

</div>

</body>
</html>