<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ToDo</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
    <p>本日の日付: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
</div>
<div class="main-contents">
    <!--  新規タスク -->
    <form th:action="@{/add}" method="get">
        <button type="submit">新規タスク</button>
    </form>

    <!-- 検索フォーム -->
    <form th:action="@{/search}" method="get">
        <label>期限 <input type="text" name="startDate" placeholder="YYYY/MM/DD"/></label>
        ～
        <label><input type="text" name="endDate" placeholder="YYYY/MM/DD" pattern="\d{4}/\d{2}/\d{2}"/></label>
        <!-- プルダウン -->
        <label>ステータス　　
            <select name="status">
                <option value="">--</option>
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>
        </label>
        <label>タスク内容　<input type="text" name="content"/></label>

        <button type="submit">絞込</button>
    </form>
</div>

</body>
</html>